textarea{
    width: 100%;
    border-style: none;
    font-size: 20px;
    
}
#inputcolor{
    border-style: none;
    width: 50px;
    background-color: transparent;
    border-radius: 5px;
    border-width: 0px;
}
i{
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
}
.code{
    width: 100%;
    background-color: rgb(0, 0, 10);
    color: white;
    height: 100%;
    min-height: 100px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}